:root {
  --height-header: 80px;
}

.header {
  position: absolute;
  width: 80px;
  display: flex;
  width: 100%;
  background-color: #ccc;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__list > li > a {
  padding: 15px 10px;
  transition: all 0.3s ease-in-out;
}
.menu__list > li > a::after {
  content: "";
  position: absolute;
  bottom: 0; /* nằm sát mép dưới của a */
  left: 0;
  height: 3px;
  width: 0;
  background-color: #000; /* màu thanh */
  transition: width 0.3s ease-in-out;
}
.menu__list > li > a:hover::after {
  width: 100%;
}
.logo__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.menu__list {
  display: flex;
  height: 100%;
  gap: 0 18px;
  align-items: center;
}
.menu__list > li > a {
  text-decoration: none;

  font-size: 1.4rem;
  color: #000;
}
.user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
  color: #000;
}
.user-list li a {
  color: #000;
}
.menu {
  position: relative;
  height: 100%;
}
.menu__list li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__list li .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: white;
  min-width: 200px;
  border-radius: 5px;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}
.sub-menu > li > a {
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  font-size: 1.2rem;
  padding: 12px 8px;
}

.sub-menu > li > a:hover {
  background-color: #000;
  color: #fff;
}
.user {
  height: 100%;
}
.menu__list li:hover .sub-menu {
  display: block;
}
.user-list {
  position: relative;
  height: 100%;
}
.user-list li {
  height: 100%;
  align-items: center;
  display: flex;
}
.icon-login {
  position: absolute;
  top: 100%; /* nằm ngay dưới icon */
  right: 0; /* nếu muốn menu con nằm bên phải icon */
  background: white;
  min-width: 180px;
  border-radius: 5px;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.icon-login li a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.icon-login li a:hover {
  background: #000;
  color: #fff;
}

.user-list li:hover .icon-login {
  display: block;
}
